body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand{
  font-style: italic;
}

.nav-item{
  /* font-style: italic; */
  font-size: 17px;
}

.navbar-title{
  /* color: rgb(82, 15, 99); */
  color: rgb(110, 28, 131);
  font-size: smaller;

}
